@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    margin: 0;
    padding: 0;
    /* border: solid 1px red; */
}

body {
    overflow-y: hidden;
}

#content {
    height: 300px;
}

#makeMeDraggable {
    /* float: left; */
    width: 300px;
    height: 300px;
    background-image: url(img/match/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    z-index: 1;
}

#makeMeDroppable {
    position: absolute;
    top: 5vw;
    left: 3vw;
    /* float: right; */
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 0;
}

.container {
    background-image: url(img/Circle_down_f.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/* fixed */

.nav {
    position: fixed;
    z-index: 998;
    bottom: 170px;
    width: 100px;
    z-index: 999;
}

.home {
    position: fixed;
    left: 80px;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.about {
    position: fixed;
    right: 80px;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.about {
    display: flex;
    justify-content: right;
}
.home {
    display: flex;
    justify-content: left;
}