@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    display: flex;
    width: 100%;
    transform: translate(0, -50%);
}

.full {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-image: url(img/Circle_Logo_k.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
}

.container {
    margin: auto;
    width: 1600px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.swiper {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    justify-items: right;
    margin: 0;
    top: 15%;
}

.swiper-slide {
    width: 800px;
    height: 800px;
    /* background-color: #fff; */
}

.left-text {
    position: relative;
    width: 400px;
    height: 200px;
    transform: translate(0, -50%);
    top: 50%;
}

.left-text>h1 {
    position: relative;
    color: #fff;
    top: 20%;
    text-align: right;
    font-size: 5em;
    font-weight: 800;
}

.left-text>h3 {
    position: relative;
    color: #fff;
    top: 20%;
    text-align: right;
    font-size: 3em;
    font-weight: 400;
}

.right-text {
    position: relative;
    width: 400px;
    height: 200px;
    transform: translate(100%, -50%);
    top: 50%;
}

.right-text>h1 {
    position: relative;
    color: #fff;
    top: 20%;
    text-align: left;
    font-size: 5em;
    font-weight: 800;
}

.right-text>h3 {
    position: relative;
    color: #fff;
    top: 20%;
    text-align: left;
    font-size: 3em;
    font-weight: 400;
}

h1, h3 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}

/* fixed */

.vl {
    border-left: 6px solid #858585;
    height: 90%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 5%;
    z-index: 999;
  }

.nav {
    position: fixed;
    z-index: 998;
    top: 130px;
    width: 100px;
    z-index: 999;
}

.home {
    position: fixed;
    left: 80px;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.about {
    position: fixed;
    right: 80px;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.about {
    display: flex;
    justify-content: right;
}

.home {
    display: flex;
    justify-content: left;
}